.address-list{
    margin: 0px 0 20px 0;
    
}
.address-list-text{
    overflow: hidden;
    
}
.address-list-text>p{
    padding: 10px;
    font-size: 14px;
    color: #333;
}
.address-list-edit{
    text-align: right;
    color: #333;
    font-size: 14px;
    line-height: 30px;
    padding: 0 10px;
    margin: 20px 0;
}
.address-list-edit>a{
    color: #333;
    padding: 0 5px;
}
.address-list>li{
    margin: 20px 0;
    border-bottom: 1px solid #f2f2f2;
}
.address-a{
    width: 100%;
    line-height: 2rem;
    background: #0082DF;
    text-align: center;
    color: #fff;
    display: block;
    font-size: 0.7rem;
    margin: 10px 0;
}