.collection-list{
    overflow: hidden;
}
.collection-list>li{
    padding: 15px 10px;
    overflow: hidden;
    border-bottom: 1px solid #f2f2f2;
}
.collection-list a div p{
    text-align: left;
    font-size: 13px;
    color: #000;
}
.del{
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    color: red;
}
.collection-text{
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.collection-img{
    min-height: 60px;
}