.confirm-add{
    padding: 10px;
    overflow: hidden;
    line-height: 30px;
    color: #333;
    margin: 5px 0;
}
.confirm-payment{
    padding: 10px;
}
.confirm-back{
    overflow: hidden;
    background: #3DA0E7;
    color: #fff;
    font-size: 0.7rem !important;
    padding: 10px;
    line-height: 25px;
    position: relative;
}
.down{
    position: absolute;
    top: 0px;
    right: 10px;
    font-weight: 600;
}
.confirm-radio{
    transform: 1s;
}
.confirm-radio>li{
    margin: 10px 0;
    font-size: 0.7rem;
    text-align: left !important;
}
.confirm-radio>li>input{
    width: 18px !important;
    height: 18px;
    margin-top: 0.1rem;
    
}
.confirm-balance{
    margin: 20px 0;
}
.balance-top{
    overflow: hidden;
    font-size: 0.7rem;
    line-height: 1.8rem;
    color: #333;
    margin: 10px 0;
}
.balance-money{
    width: 80% !important;
    height: 1.8rem !important;
    background: #e0e0e0 !important;
    padding: 0 10px !important; 
}
.balance-bz{
    background: #e0e0e0 !important;
    height: 80px !important;
    padding: 10px;
}
.cp-text{
    font-size: 0.7rem;
    color: #333;
    margin: 20px 0;
    overflow: hidden;
}
.confirm-sbm{
    background: #0082DF !important;
    line-height: 2rem;
    color: #fff;
    height: 2rem;
    text-align: center;
    border: none;
    width: 100%;
    font-size: 0.7rem !important;
    margin-top: 30px;
}
.success{
    padding: 20px;
}
.success-text{
    font-weight: 600;
    color: #333;
}
.success-bor{
    border: 1px solid #d7d7d7;
    padding: 10px;
    
    margin: 20px 0;
}
.success-bor>p{
    line-height: 30px;
    font-size: 0.6rem;
    color: #333;
}
.success-bor>p span{
    font-weight: 600;
}
.confirm-b{
    font-size: 0.6rem;
    text-align: center;
    margin-top: 20px;
}