.contact-list{
    padding: 10px;
}
.contact-list li{
    padding: 15px 0;
    color: #333;
    font-size: 0.7rem;
    text-align: left !important;
    border-bottom: 1px solid #d7d7d7;
}
.contact-list li a{
    color:#333;
}