*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
body,
html{
    width: 100%;
    height: 100%;
}
.wrapper{
    width: 100%;
    height: 100%;
}
.wrapper .logo{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #ddd;
}
.wrapper .logo img{
    width: 210px;
    height: 60px;
   line-height: 80px;
   margin-left: 40px;
   margin-top: 15px;
}
.wrapper .login-area{
    width: 100%;
    height: 600px;
    background: linear-gradient(to right, rgb(170, 213, 248), rgb(10, 110, 168));
    position: relative;
}
.wrapper .login-area .login{
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    right: 200px;
    top: 100px;
}
.wrapper .login-area .login .login-title h1{
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    padding-top: 27px;
    color: #333;
}
.wrapper .login-area .login .form{
    width: 300px;
    height: 180px;
    /* border: 1px solid #000; */
    margin: 0 auto;
    text-align: center;
}
.wrapper .login-area .login .form div.input input{
    width: 260px;
    height: 35px;
    margin-top: 10px;
    outline: none;
    padding-left: 10px;
}
.wrapper .login-area .login .form .btn-two button{
    width: 120px;
    height: 35px;
    background-color: #00a4ff;
    border: none;
    outline: none;
    color: #fff;
    margin-top: 20px;
}
.wrapper .login-area .login .form .btn-two .reset{
    margin-left: 15px;
    background-color: #ff9000;
}
.wrapper .login-area .login .form .list{
    width: 140px;
    height: 20px;
    margin-left: 145px;
    margin-top: 8px;
}
.wrapper .login-area .login .form ul li{
    float: left;
    margin-left: 10px;
}
.wrapper .login-area .login .form ul li a{
    color: #888;
    font-size: 14px;
}
.wrapper .login-area .login .form ul li a:hover{
    color: #ff9000;
}
.wrapper .login-area .login .quick{
    width: 350px;
    height: 150px;
    position: relative;
    left: 50%;
    margin-left: -175px;
}
.wrapper .login-area .login .quick .quick-line{
    width: 260px;
    height: 10px;
    border-bottom: 1px solid #666;
    margin-left: -130px;
}
.wrapper .login-area .login .quick .quick-title{
    width: 80px;
    height: 20px;
    background-color: #fff;
    margin-left: -40px;
    text-align: center;
    line-height: 20px;
    color: #666;
}
.wrapper .login-area .login .quick .quick-line,
.wrapper .login-area .login .quick .quick-title{
    display: inline-block;
    margin-top: 20px;
    position: absolute;
    left: 50%;
}

.wrapper .login-area .login .quick .login-qq,
.wrapper .login-area .login .quick .login-wx {
    position: absolute;
    margin-top: 50px;
}
.wrapper .login-area .login .quick .login-qq div,
.wrapper .login-area .login .quick .login-wx div
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 65px;
    text-align: center;
    margin-left: 35px;
}
.wrapper .login-area .login .quick .login-wx{
    margin-left: 180px;
}
.wrapper .login-area .login .quick .login-qq{
    margin-left: 50px;
}
.wrapper .login-area .login .quick .login-wx div{
    background-color: #ff9000;
}
.wrapper .login-area .login .quick .login-qq div{
    background-color: #00a4ff;
    
}
.wrapper .login-area .login .quick .login-qq span,
.wrapper .login-area .login .quick .login-wx span
{
    margin-left: 30px;
    color: #444;
}
.wrapper .color-block{
    width: 200px;
    height: 600px;
    background-color: #f78d15;
    position: absolute;
    z-index: 10;
    margin-left: 300px;
    box-shadow: 0 0  20px #222;
}
.wrapper .color-block .blue,
.wrapper .color-block .yellow,
.wrapper .color-block .red,
.wrapper .color-block .green{
    display: inline-block;
    border-width: 10px 10px;
    border-style: solid;
} 
.wrapper .color-block .blue{
    border-color: #398dd1 #4ebeff #4ebeff #398dd1;
} 
.wrapper .color-block .yellow{
    border-color: #f35517 #e4af1e #e4af1e #f35517;
} 
.wrapper .color-block .red{
    border-color: #9c0a5b #f70964 #f70964 #9c0a5b;
} 
.wrapper .color-block .green{
border-color: #067902 #10bb10 #10bb10 #067902;
}
.wrapper .color-block .e-first-block{
    margin-left: 50px;
    margin-top: 101px;
}
.wrapper .color-block .floor-2{
    margin-top: -4px;
}
.wrapper .color-block .e-scond-block{
    margin-top: 435px;
    margin-left: 160px;
}
.wrapper .color-block .e-third-block{
    margin-top: -64px;
    margin-left: 80px;
}