.member-user{
    width: 100%;
    background-color: #FF5000;
    background-image: linear-gradient(to right, #FD9126, #FF5000);
    padding: 20px 0;
}
.user-img{
    width: 80px;
    height: 80px;
    border: 1px solid #fff;
    border-radius: 40px;
    margin:  auto;
    overflow: hidden;
}
.user-img img{
    width: 100%;
    height: 100%;;
}
.user-name{
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 16px;
    margin: 5px 0;
}
.member-list{
    overflow: hidden;
    border-bottom: 1px solid #f2f2f2;
}
.member-list>li{
    position: relative;
    text-align: center;
    padding: 10px 0;
}
.member-list>li>a{
    text-align: center;
    display: block;
}
.member-list>li>a>img{
    display: block;
    width: 40%;
    margin: 10px auto;
}
.member-list>li>a>p{
    color: #666;
    text-align: center;
    font-size: 14px;
}
.member-list>li>a>span{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    background: #0082DF;
    display: block;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 14%;
    font-size: 12px;
}