*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
body,
html{
    width: 100%;
    height: 100%;
}
.wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #eee;
}
.wrapper .header{
    width: 100%;
    height: 100px;
    background-color: #fff;
}
.wrapper .header .first-page{
    position: absolute;
    right: 100px;
    top: 32px;
}
/* 首页按钮样式 */
.wrapper .first-page{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #42a5f7;
    line-height: 30px;
    text-align: center;
}
.wrapper .first-page a{
    color: #fff;
}
.wrapper .first-page:hover{
    background-color: #0f8ef7;
}
.wrapper .first-page button a{
    color: #fff;
}
.wrapper .logo{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #ddd;
}
.wrapper .logo img{
    width: 220px;
    height: 60px;
   line-height: 80px;
   margin-left: 40px;
   margin-top: 15px;
}
.wrapper .content{
    width: 1200px;
    height: 600px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
}

.wrapper .content .title{
    text-align: center;
    font-size: 40px;
    height: 100px;
    line-height: 100px;
    border-bottom: 1px solid #ddd;
}
.wrapper .content .tips{
    text-align: center;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    color: #333;
}
.wrapper .content .tips .pic{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: rgb(6, 235, 6);
    color: #fff;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}
.wrapper .content table{
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #eee;
    height: 100px;
    
}
.wrapper .content table thead th{
    background-color: #eee;
    height: 30px;
    color: #444;
}
.wrapper .content table tbody td{
    color: #222;

}
.wrapper .content table tbody td button{
    border: none;
    background-color: #fa1818;
    color: #fff;
    padding: 5px;
}
.wrapper .content table tbody td button:hover{
    cursor: pointer;
}
.wrapper .content .text{
    margin-top: 40px;
    margin-left: 100px;
}
.wrapper .content .pay-type ul{
    margin-top: 40px;
    margin-left: 300px;
    height: 100px;
}
.wrapper .content .pay-type li{
    width: 160px;
    height: 80px;
    border: 1px solid #aaa;
    float: left;
    margin-right: 30px;
}

.wrapper .content .pay-type li .alipay{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url(../images/order_icon.png) 30px -275px no-repeat;
}
/* 微信支付 */
.wrapper .wxpay .inner{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url(../images/order_icon.png) -147px -275px no-repeat;
}
/* 淘宝 */
.wrapper li .taobao{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url(../images/bank_taobao.gif);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

/* 前往淘宝店样式 */
.wrapper li .to-taobao {
    position: absolute;
    display: inline-block;
    width: 160px;
    height: 40px;
    background-color: #10acf5;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 6px;
    margin-top: 20px;
    margin-left: 30px;
    display: none;
}
.wrapper li .to-taobao:hover{
    background-color: #098dca;
}

/* 支付方式被选中的样式 */
.select{
    border: 1px solid #0b86eb;
}
.ok{
    position: absolute;
    width: 17px;
    height: 15px;
    background: url(../images/order_icon.png) 0 -206px no-repeat;
    margin-top: 65px;
    margin-left: -15px;
}
.wrapper .content .pay-money button{
    width: 170px;
    height: 46px;
    background: #ff4e00;
    border-radius: 2px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
}
.wrapper .content .pay-money{
    position: absolute;
    right: 120px;
    margin-top: 20px;
}
.wrapper .content .pay-money span{
    color: #fa1818;
    font-size: 30px;
    vertical-align: middle;
    margin-left: 20px;
}
.wrapper .content .pay-money button{
    margin-top: 20px;
    margin-left: 20px;
}



