*{
    overflow: hidden;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
html,
body{
    width: 100%;
    height: 100%;
}
.wrapper{
    width: 100%;
    height: 100%;
}
/* 页面头部 */
.wrapper .header{
    width: 100%;
    height: 45px;
    position: relative;
    border-bottom: 6px solid #ddd;
}
.wrapper .header .landou-logo{
    line-height: 40px;
    position: absolute;
}
.wrapper .header .landou-logo img{
    width: 150px;
    height: 40px;
    margin-left: 30px;
    vertical-align: middle;
}

.wrapper .header .back-home-page{
    position: absolute;
    margin-left: 220px;
    line-height: 65px;
    color: #777;
}
.wrapper .header .back-home-page .back:hover{
    cursor: pointer;
    color: #444;
}
/* .wrapper .header .message,
.wrapper .header .per-infor-nav{
    float: right;
}
.wrapper .header .per-infor-nav .pic{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #888;
    margin-top: 5px;
}
.wrapper .header .message .message-pic{
    margin-right: 35px;
    margin-left: 20px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #888;
    margin-top: 7.5px;
} */

.wrapper .content{
    width: 100%;
    height: calc(100% - 45px);
    position: relative;
}

.wrapper .content .left-nav{
    width: 220px;
    background-color: #ddd;
}
.wrapper .content .right-nav-show{
    width: calc(100% - 220px);
    margin-left: 220px;
    padding: 20px;
}
.wrapper .content .left-nav,
.wrapper .content .right-nav-show{
    position: absolute;
    height: 100%;
}
.wrapper .content .left-nav dt{
    margin-left: 10px;
    font-weight: bold;
    height: 70px;
    line-height: 70px;
}
.wrapper .content .left-nav dd{
    height: 40px;
    line-height: 40px;
}
.wrapper .content .left-nav dd{
    padding-left: 30px;
    color: #666;
}
.wrapper .content .left-nav dd:hover{
    cursor: pointer;
    background-color: #eee;
    color: #555;
}
.wrapper .content .left-nav dd.active{
    background-color: #fff;
    color: #000;
}
/* 个人信息 */
.wrapper .content .right-nav-show .details-per-infor .title h1{
    height: 70px;
    font-size: 20px;
    line-height: 70px;
    border-bottom: 1px solid #ccc;
}
.wrapper .content .right-nav-show .details-per-infor .first-infor{
    width: 100%;
    height: 160px;
    border-bottom: 1px solid #ccc;
}
.wrapper .content .right-nav-show .details-per-infor .header-portrait,
.wrapper .content .right-nav-show .details-per-infor .basic-infor{
    float: left;
    margin-top: 10px;
}
.wrapper .content .right-nav-show .details-per-infor .header-portrait img{
    width: 120px;
    height: 120px;
    border-radius: 15px;
}

.wrapper .content .right-nav-show .details-per-infor .header-portrait .text{
    text-align: center;
}
.wrapper .content .right-nav-show .details-per-infor .header-portrait .text a{
    color: #2e84f3;
    font-size: 14px;
}
.wrapper .content .right-nav-show .details-per-infor .basic-infor{
    margin-left: 30px;
    margin-top: 20px;
}
.wrapper .content .right-nav-show .details-per-infor .basic-infor .hello-tel{
    color: #ff7b00;
}
.wrapper .content .right-nav-show .details-per-infor .basic-infor .jifen-realname,
.wrapper .content .right-nav-show .details-per-infor .basic-infor .sign-time{
    font-size: 13px;
    margin-top: 15px;
}
.wrapper .content .right-nav-show .details-per-infor .basic-infor .jifen-realname .jifen-number{
    color: #ff7b00;
}
.wrapper .content .right-nav-show .details-per-infor .basic-infor .jifen-realname .realname{
    margin-left: 60px;
    color: #ff7b00;

}
.wrapper .content .right-nav-show .details-per-infor .basic-infor .jifen-realname .yes-no{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: rgb(40, 207, 40);
    color: #fff;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    border-radius: 2px;
    vertical-align: middle;
    margin-left: 10px;
}
/* 安全信息 */
.wrapper .content .right-nav-show .details-per-infor .safe-infor h1{
    height: 70px;
    font-size: 20px;
    line-height: 70px;
    border-bottom: 1px solid #ccc;
}
.wrapper .content .right-nav-show .details-per-infor .safe-infor .safe-lev{
    height: 70px;
    font-size: 13px;
    line-height: 70px;
    border-bottom: 1px solid #ccc;
}
.wrapper .content .right-nav-show .details-per-infor .safe-infor .safe-lev .pic{
    display: inline-block;
    width: 220px;
    height: 25px;
    background-color: #ddd;
    vertical-align: middle;
    border-radius: 2px;
    background: linear-gradient(90deg, #fd1c1c 20%, #ddd 20%, #ddd 80%);
    margin-left: 50px;
    margin-right: 50px;
}
.wrapper .content .right-nav-show .details-per-infor .safe-infor .safe-lev .l-m-h{
    color: #fd1c1c;
}
.wrapper .content .right-nav-show .details-per-infor .safe-infor .safe-lev .edit-psw{
    margin-left: 30px;
}
.wrapper .content .right-nav-show .details-per-infor .safe-infor .safe-lev .edit-psw a{
    margin-left: 5px;
    color: #ff7b00;
}
.wrapper .content .right-nav-show .details-per-infor .safe-infor .phone{
    height: 70px;
    font-size: 13px;
    line-height: 70px;
    border-bottom: 1px solid #ccc;
}
.wrapper .content .right-nav-show .details-per-infor .safe-infor .safe-lev .text,
.wrapper .content .right-nav-show .details-per-infor .safe-infor .phone .text{
    font-weight: 600;
}
.wrapper .content .right-nav-show .details-per-infor .safe-infor .phone .text1{
    margin-left: 50px;
    margin-right: 50px;
}
.wrapper .content .right-nav-show .details-per-infor .safe-infor .phone .revise{
    width: 50px;
    background-color: #49a9f8;
    color: #fff;
    border: none;
    outline: none;
}
/* .wrapper .content .right-nav-show .details-per-infor{
    display: none;
} */
/* 基本资料 */
.wrapper .content .right-nav-show .edit-title{
    font-size: 20px;
    padding-left: 50px;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ccc;
}
.wrapper .content .right-nav-show .tips{
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding-left: 20px;
    color: #777;
    margin-top: 20px;
    background-color: #c2d1f8;
    text-align: center;
}
.wrapper .content .right-nav-show .edit-infor{
    margin-left: 470px;
}
.wrapper .content .right-nav-show .edit-infor div{
    margin-top: 30px;
}
.wrapper .content .right-nav-show .edit-infor form input{
    height: 40px;
    width: 360px;
    padding-left: 10px;
    outline: none;
}
.wrapper .content .right-nav-show .edit-infor .btn{
    width: 370px;
    text-align: center;
}
.wrapper .content .right-nav-show .edit-infor .btn button{
    width: 180px;
    height: 40px;
    background-color: #1977f1;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
}
.wrapper .content .right-nav-show .edit{
    display: none;
}

/* 修改密码 */
.wrapper .content .right-nav-show .revise-psw h1{
    height: 70px;
    font-size: 20px;
    line-height: 70px;
    border-bottom: 1px solid #ccc;
}

.wrapper .content .right-nav-show .revise-psw input{
    padding-left: 10px;
    width: 300px;
    height: 40px;
    margin-top: 20px;
    margin-left: 400px;
    outline: none;
}
.wrapper .content .right-nav-show .revise-psw span{
    display: inline-block;
    color: #ff7b00;
    font-size: 25px;
    margin-left: 420px;
    margin-top: 20px;
}
.wrapper .content .right-nav-show .revise-psw button{
    width: 180px;
    height: 40px;
    background-color: #1977f1;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    margin-left: 460px;
    margin-top: 30px;
}
.wrapper .content .right-nav-show .revise-psw{
    display: none;
}
