
.btn{
	opacity: 0.4;
}
.lunbotu .btn:hover{
	opacity: 1;
}
.lunbotu .btn span {
	position: absolute;
    top: 50%;
    /* margin-top:-30px; */
	display: inline-block;
	width: 35px;
	height: 60px;
	color: #f40;
	font-size: 20px;
	text-align: center;
	line-height: 60px;
	background-image: linear-gradient(to right,#4AB0F7 0,#0476CF 100%);
    cursor: pointer;
}

.lunbotu .btn .btn-left{
	left: 10px;
}
.lunbotu .btn .btn-right{
	right: 10px;
}