*{
    overflow: hidden;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
html,
body,
.wrapper{
    width: 100%;
    height: 100%;
    background-color: #eee;
}
/* 页面头部 */
.wrapper .header{
    width: 110%;
    height: 70px;
    position: relative;
    border-bottom: 6px solid #ddd;
    background-color: #fff;
}
.wrapper .header .landou-logo{
    line-height: 70px;
}
.wrapper .header .landou-logo img{
    width: 150px;
    height: 40px;
    margin-left: 30px;
    vertical-align: middle;
}
/* 首页按钮样式 */
.wrapper .first-page{
    position: absolute;
    right: 300px;
    top: 20px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #42a5f7;
    line-height: 30px;
    text-align: center;
}
.wrapper .first-page a{
    color: #fff;
} 
 .wrapper .first-page:hover{
    background-color: #0f8ef7;
}
/* 商品详情样式 */

.wrapper .content{
    width: 1200px;
    height: 600px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 20px;
}

.wrapper .content .product-pic img{
    width: 400px;
    height: 400px;
    border: 1px solid #999;
    padding: 10px;
    margin: 20px 0 0 20px;
    position: absolute;
}

.wrapper .content .product-text{
    width: 720px;
    position: absolute;
    margin-top: 20px;
    margin-left: 480px;
    padding: 5px;
    margin-top: 40px;
}
.wrapper .content .product-text .title{
    font-size: 26px;
}
.wrapper .content .product-text .money{
    color: #e90d1f;
    font-size: 25px;
    margin-top: 30px;
}
.wrapper .content .product-text .tips{
    color: #999;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    padding: 5px;
    margin-top: 30px;
    width: 650px;
}
.wrapper .content .product-text .tips p{
    margin-top: 5px;
}
.wrapper .product-text .numders{
    height: 80px;
    width: 660px;
    line-height: 80px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: 30px;
}
.wrapper .product-text .numders .reduce,
.wrapper .product-text .numders .add{
    width: 15px;
    height: 15px;
    background-color: #FF0036;
    color: #fff;
    margin-left: 10px;
    border: none;
    outline: none;
}
.wrapper .product-text .numders .reduce:hover,
.wrapper .product-text .numders .add:hover{
    cursor: pointer;
    background-color: #fd4d73;
}
/* 月销量 */
.mon-sales{
    margin-left: 200px;
    color: #666;
}
.mon-numbers{
    color: #FF0036;
}
.wrapper .product-text .numders input{
    width: 30px;
    outline: none;
    margin-left: 10px;
}

.wrapper .content .product-text button{
    width: 160px;
    height: 40px;
    color: #fff;
    border: none;
    outline: none;
    margin-top: 30px;
}

.wrapper .content .product-text .add-bus{
    background-color: #f82020;
}
.wrapper .content .product-text .add-bus:hover{
    background-color: #c71111;
}
.wrapper .content .product-text .buy{
    background-color: #1886ee;
    margin-left: 20px;
}
.wrapper .content .product-text .buy:hover{
    background-color: #146cbe;
}
.wrapper .content .product-text .buy-btn span{
    margin-left: 50px;
    color: #666;
    font-size: 12px;
}



