.red-list{
    width: 100%;
}
.red-list th{
    font-size: 14px;
    line-height: 30px;
}
.red-list td{
    font-size: 12px;
    line-height: 30px;
}
.red-form{
    margin: 20px 0;
    padding: 0 10px;
}
.red-text{
    width: 90% !important;
    margin: auto !important;
    display: block !important;
    height: 40px !important;
    padding-left: 10px !important;
    border:1px solid #ddd !important;
    font-size: 14px !important;
}
.red-sub{
    width: 100%;
    color: #fff;
    border: 0;
    background: #0082DF;
    text-align: center;
    height: 40px !important;
    margin: 20px 0;
}