*{
    overflow: hidden;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
html,
body{
    width: 100%;
    height: 100%;
}
.wrapper{
    width: 100%;
    height: 100%;
}
/* 页面头部 */
.wrapper .header{
    width: 100%;
    height: 45px;
    position: relative;
    border-bottom: 6px solid #ddd;
}
.wrapper .header .landou-logo{
    line-height: 40px;
    position: absolute;
}
.wrapper .header .landou-logo img{
    width: 150px;
    height: 40px;
    margin-left: 30px;
    vertical-align: middle;
}

.wrapper .header .back-home-page{
    position: absolute;
    margin-left: 220px;
    line-height: 65px;
    color: #777;
}
.wrapper .header .back-home-page .back:hover{
    cursor: pointer;
    color: #444;
}
.wrapper .content .title{
    text-align: center;
    margin-top: 50px;
}
.wrapper .content .title .text{
    font-size: 25px;
}
.wrapper .content .title .num{
    color: rgb(201, 8, 8);
}
.wrapper .content h1{
    font-weight: 500;
}
.wrapper .content .bus-tips{
    width: 600px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    margin-top: 200px;
    display: none;
}
.wrapper .content .bus-tips img{
    width: 100px;
    height: 80px;
    vertical-align: bottom;
}
.wrapper .content .bus-tips a{
    color: red;
}
.wrapper .content .bus-tips button{
    width: 60px;
    height: 30px;
    margin-left: 270px;
    margin-top: 20px;
    background-color: #33a8f7;
    border: none;
    outline: none;
}
.wrapper .content .bus-tips button .login{
    color: #fff;
}


/* 商品列表 */
.wrapper .content .product-list{
    display: none;
    margin-top: 50px;
}
.wrapper .content .product-list table{
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #eee;
    height: 100px;
    
}
.wrapper .content table thead th{
    background-color: #eee;
    height: 30px;
    color: #444;
}
.wrapper .content table tbody td{
    color: #222;

}
.wrapper .content table tbody td button{
    border: none;
    background-color: #fa1818;
    color: #fff;
    padding: 5px;
}
.wrapper .content table tbody td button:hover{
    cursor: pointer;
}
.wrapper .content .text{
    margin-top: 40px;
    margin-left: 100px;
}

.num-list .reduce,
.num-list .add{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #FF0036;
    color: #fff;
    margin-left: 10px;
    text-align: center;
    line-height: 10px;
    vertical-align: middle;
    outline: none;
}
.num-list{
    height: 60px;
}
.num-list .numbers{
    width: 30px;
    margin-left: 10px;
}
.num-list .reduce:hover,
.num-list .add:hover{
    cursor: pointer;
    background-color: #fd4d73;
}

/* 应付金额样式 */
.pay-money button{
    width: 170px;
    height: 46px;
    background: #ff4e00;
    border-radius: 2px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
}
 .pay-money{
    position: absolute;
    right: 280px;
    margin-top: 200px;
}
 .pay-money span{
    color: #fa1818;
    font-size: 30px;
}
 .pay-money button{
    margin-top: 20px;
}