.user-form{
    overflow: hidden;
    padding: 10px;
}
.user-top-left{
    font-size: 14px;
    line-height: 42px;
}
.user-top-right>a{
    line-height: 42px;
    color: #333;
    font-size: 17px;
    margin: 0 5px;
    float: right;
}
.user-top{
    overflow: hidden;
}
.ons{
    border-bottom: 2px solid #0082DF;
    color: #0082DF;
}
.form-input{
    height: 40px !important;
    width: 100% !important;
    border: solid 1px #ddd !important;
    padding: 0 3% !important;
    color: #333 !important;
    font-size: 16px !important;
    -webkit-border-radius: 0;
    background: #fff;
    margin: 15px 0 !important;
}
.user-box{
    line-height: 26px;
    font-size: 14px;
    margin: 15px 0;
}
.user-box>input{
    vertical-align: middle;
    zoom: 200%;
}
.user-submit{
    color: #fff !important;
    border: 0;
    height: 40px !important;
    line-height: 40px !important;
    width: 100% !important;
    -webkit-box-flex: 1;
    display: block;
    -webkit-user-select: none;
    font-size: 16px !important;
    background: #0082DF !important;
    text-align: center;
    width: 100%;
}
.user-retrieve{
    font-size: 14px;
    color: #1CA2E1;
    height: 30px;
    line-height: 30px;
    padding: 0;
    display: inline-block;
    margin-top: 20px;
}
.tips-center{
    padding: 10px;
}
.tips-center>p{
    font-size: 14px;
    font-weight: bold;
    color: red;
    text-align: center;
    margin: 15px 0;
}
.tips-center>p>a{
    color: #333;
}
.tips-ck{
    display: block;
    width: 80%;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: #1CA2E1;
    margin: 20px auto;
    font-size: 15px;
}