*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
html,
body,
.wrapper{
    width: 100%;
    height: 100%;
}
.wrapper .car-menu{
    width: 70px;
    height: 70px;
    background-color: #fff;
    box-shadow: 0 0 5px #aaa;
    position: fixed;
    right: 10px;
    top: 300px;
    text-align: center;
    border-radius: 5px;
}
.wrapper .car-menu img{
    margin-top: 10px;
}
.wrapper .car-menu .num{
    display: block;
}
.wrapper .first-page{
    position: absolute;
    right: 100px;
    top: 32px;
}
/* 首页按钮样式 */
.wrapper .first-page{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #42a5f7;
    line-height: 30px;
    text-align: center;
}
.wrapper .first-page a{
    color: #fff;
}
.wrapper .first-page:hover{
    background-color: #0f8ef7;
}
.wrapper .logo{
    width: 100%;
    border-bottom: 1px solid #ddd;
    line-height: 80px;
}
.wrapper .logo img{
    width: 220px;
    height: 60px;
   margin-left: 40px;
   vertical-align: middle;
   border-right: 1px solid #888;
}
.wrapper .logo span{
    font-size: 22px;
    margin-left: 10px;
}

.wrapper .screen{
    width: 1200px;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-top: 1px solid #888;
    margin: 0 auto;
    margin-top: 60px;
}
.wrapper .screen .industry ul li{
    float: left;
    margin-left: 10px;
}
.wrapper .screen .type,
.wrapper .screen .price,
.wrapper .screen .industry,
.wrapper .screen .select{
    border-bottom: 1px solid #888;
    height: 40px;
    line-height: 40px;
    padding: 10px;
    color: #666;
}
.wrapper .screen .industry{
    height: 120px;
    line-height: 22px;
}
.wrapper .screen .industry::before{
    content: "所属行业:";
    color: #000;
    position: absolute;
}
.type-title,
.price-title{
    color: #000;
}

.wrapper .screen .industry ul{
    margin-left: 70px;
}
.wrapper .screen .industry li a{
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1.5px solid #777;
    font-weight: bold;
    text-align: center;
    line-height: 10px;
    color: #d10707;
    cursor: pointer;
}
.wrapper .screen .select .ok{
    display: inline-block;
    width: 120px;
    height: 25px;
    color: #fff;
    background-color: #33a1e0;
    vertical-align: middle;
    text-align: center;
    line-height: 25px;
    border-radius: 4px;
}
.wrapper .screen p{
    position: absolute;
    color: #000;
}
.wrapper .screen .select .select-area{
    margin-left: 80px;
}

.wrapper .template-show{
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    margin-top: 20px;
}
.wrapper .template-show .title{
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
}

.wrapper .template-show .art,
.wrapper .template-show .ogistics{
    display: none;
}
.wrapper .template-show .type{
    display: inline-block;
    color: #555;
    margin-left: 10px;
    margin-top: 20px;
}

.wrapper .template-show li{
    float: left;
    width: 220px;
    height: 300px;
    margin-left: 7px;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #eee;
}
.wrapper .template-show li:hover{
    box-shadow: 0 0 10px #777;
}
.wrapper .template-show li img{
    width: 220px;
    height: 220px;
    border: 1px solid #eee;
}
.wrapper .template-show li p{
    text-align: center;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #888;
}
.wrapper .template-show li .price{
    height: 50px;
    line-height: 45px;
}
.wrapper .template-show li .price .money{
    color: #c70808;
}
.wrapper .template-show li .price .car-pic{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../images/add_cart.png") no-repeat;
    vertical-align: middle;
    margin-left: 5px;
    cursor: pointer;

}
.wrapper .template-show li .price .buy{
    width: 85px;
    height: 30px;
    border: 1px solid #c70808;
    color: #c70808;
    background-color: #fff;
    margin-left: 52px;
}
.wrapper .template-show li .price .buy:hover{
    background-color: #c70808;
    color: #fff;
}
.wrapper .template-show li .details-show{
    width: 220px;
    height: 30px;
    background-color: hsla(202, 80%, 63%, 0.9);
    color: #fff;
    position: absolute;
    margin-top: -65px;
    text-align: center;
    line-height: 30px;
    display: none;
}
.wrapper .template-show li .details-show a{
    color: #fff;
}