<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <div class="wrapper ">
        <div class="table container">
            <!-- 顶部编辑及 -->
            <div class="edit-top">
                <button class="add" @click="addDiv">{{ add }}</button>
                <button class="cho">{{ choose }}</button>
                <button class="del">{{ del }}</button>
                <form class="form-top">
                    <label for="">宽度:</label><input type="text" id="inp1" v-model="task"
                        @keydown.enter="inpChange" placeholder="0px">
                    <label for="">高度:</label><input type="text" id="inp2" v-model="task1" placeholder="0px">
                    <input type="button" value="确定" id="btn" @click=" inpChange(e)">
                </form>
            </div>
            <div class="dataTab ">
                <!-- 此处是渲染的位置 -->
                    <button id="get">档案提交</button>
            </div>
        </div>
    </div>

    <script src="./js/jquery-3.4.1.js"></script>
    <script src="./js/moveForm.js"></script>
</body>

</html>