*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;     
}
.wrapper .header{
    width: 980px;
    height: 75px;
    margin: 0 auto;
    /* border: solid 1px #000; */
}
ul .logo{
    float: left;
}
/* .wrapper .header .headerLeft{
    width: 330px;
    height: 75px;
} */
.wrapper .header img{
    width: 137px;
    height: 46px;
    margin: 12px 0 24px 0;
}
.logo::after {
    border-left: 1px solid rgb(201, 201, 201);
    font-size: 18px;
    color: rgb(102, 102, 102);
    content: '注册百度帐号';
    margin-left: 11px;
    padding-left: 12px;
    display: inline-block;
    position: relative;
    top: -29px;
    left: 5px;
}
.wrapper .header ul .sign{
    float: right;
    margin-right: 5px;
    margin-top: 35px;
   
    /* border: solid 1px #000; */
}
span {
    width: 96px;
    height: 16px;
    font-size: 12px;
    color: #666;
}
button {
    margin-left: 5px;
    font-weight: 700;
    font-family: Arial,"å®‹ä½“";
    color: #666;
    height: 34px;
    width: 64px;
    cursor: pointer;
    text-align: center;
    border: 1.5px solid #ddd;
    font-size: 12px;
    background-color: #eee;
    border-radius: 3px;
}
.line{
    width: 100%;
    height: 20px;
    /* border: solid 1px #000; */
    padding-top: 20px;
    background-image: 
    url(https://passport.baidu.com/static/passpc-account/img/reg/reg_hr.png);
    background-repeat: no-repeat;
    background-position: center;
    /* background-position-y: top; */
}
.content{
    width: 980px;
    height: 432px;
    margin: 0 auto;
}
.content .content-l{
    float: left;
    width: 720px;
    height: 432px;
    margin-top: 40px;
    /* border: solid 1px #000; */

}
.content-l .infor{
    width: 720px;
    height: 42px;
    margin-bottom: 20px;
}
.inp{
    float: left;
    font-size: 14px;
    text-align: right;
    height: 42px;
    line-height: 42px;
    margin-right: 10px;
}

.infor input{
    width: 328px;
    height: 16px;
    padding: 11px 10px; 
    

}
#duanxin{
    width: 150px;
    height: 16px;
}
.btn1{
    width:145px;
    height: 42px;
    margin-left: 30px;
    margin-top: 1px;
}

.xieyi{
    margin-left: 103px;
    font-size: 12px;
    display: block;
}
#check{
     width:auto;
     height: auto;
     margin:0 5px;
     vertical-align: -2.5px;
}
.xieyi span{
    cursor: pointer;
    color: #1b66c7;
    /* line-height: 42px; */
}
.content-l .btn2{
    width: 351px;
    height: 50px;
    background-color:#3f89ec;
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    border: none;
    margin-left:106px;
    position: absolute;
    top: 439px;
}
.content .content-r{
    float: right;
    width: 258px;
    height: 208px;
    margin-top: 40px;
    font-family: Arial, 宋体;
    border: 1px solid rgb(209, 238, 255);
    background-color: #f5fbff;
}
.content-r .up{
    width: 208px;
    height: 50px;
    margin:0 10px;
    background-image: url(https://passport.baidu.com/static/passpc-account/img/reg/phone.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    padding-left: 30px;
    line-height: 50px;
    border-bottom: 1px solid rgb(230, 237, 242);
    font-size: 14px;
    color: #666;
}
.content .down{
    width: 258px;
    height:109px;
}
.p1,
.p3{
    margin: 20px 10px 5px 10px;
    font-size: 12px;
    color: #666;
}
.p2,
.p4{
    margin: 0 10px;
    color: #f18300;
    font-size: 14px;
    font-weight: bold;
}
.p5{
    font-size: 12px;
    color: #666;
    margin: 5px 10px 0 10px;
}

#footer{
    margin:  40px auto;
    /* margin-left: 20px; */
    width: 980px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}
