* {
  margin: 0;
  padding: 0;
  outline: none;
}
::-webkit-scrollbar
{
	display: none;
}
*:not(input,textarea) {
  -webkit-touch-callout: inherit;
  -webkit-user-select: auto;
}
body{
	width: 100%;
	height:100%;
  font-family: Hiragino Sans GB, Arial, Helvetica, "����", sans-serif;
  font-size: 12px;
  color: #fff9b1;
  -webkit-touch-callout: inherit ;
  -webkit-user-select: auto ;
overflow:hidden;
/* background:#d3346a; */
background-image: url("./images/ae8c8ddef63046dc8e0fc722016588be.png@0-0-700-1151a_90Q.src");

}
.bgBox{
	max-width:800px; 
	max-width:100%; 

	margin:0 auto; 
	overflow: hidden;
}

.music{width:40px; height:40px; position: absolute; z-index: 999; right:0; top:10%; border-top:#000 solid 0; overflow:hidden;}
.music.open{background:url(../images/music.gif) center bottom no-repeat; background-size:100% auto;}
.music .musicimg{width: 22px; height:22px; position: absolute; left:0; bottom:4px;}
a {
  color: #878787;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:hover {text-decoration: none;}
button,input,select,textarea {font-size: 100%;margin: 0; padding: 0;outline: none;}
dt,dd {display: inline-block;}
textarea,input {resize: none; outline: none;}
textarea {resize: none; -webkit-appearance: none;}
ul,ol,li {list-style: none;}
em {font-style: normal;}

.hide{ display:none;}

.page{
	width:100%;
	height:100%;
	position:absolute;
	font-size:100px;
	text-align:center;
}

.page .wrap{
	height:500px;
}

/* .page-1-1{background:url(../images/page-2-1.png) center no-repeat; background-size:100% auto; height:100%;} */
/* .page-2-1{ background:url(../images/page-2-1.png) center center no-repeat;} */
/* .page-3-1{ background:url(../images/page-2-1.png) center center no-repeat;} */
/* .page-4-1{ background:url(../images/bg_buttom.png) left 40% repeat-x; } */

.page-current{
	z-index:1;
}
/* .page-1-1 .wrap{height:100%; background:url(../images/bg_buttom.png) center bottom no-repeat; background-size:88px auto;} */
.page-1-1 .img_1 {
	height:300px;
	width:100%;
	position:absolute;
	left:0%;
	top:0%;
	margin:0;
	background-size:100% auto;
}
.page-1-1 .img_2 {
	width:338px;
	height:230px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-169px;
	margin-top:-115px;
	background:url(../images/page-1-2.png) center bottom no-repeat;
	background-size:100% auto;
}
.page-1-1 .img_2 .zhuti{width: 198px; margin:20px auto; position:relative; padding-top:46px; font-size: 16px; color:#d3346a;}
.page-1-1 .img_2 .zhuti .xinBox{width:41px; height:67px; position:absolute; left:79px; top:0; background:url(../images/xin2.png) center bottom no-repeat; background-size:41px auto;}
.page-1-1 .img_2 .zhuti .xlxn{overflow:hidden; color:#d3346a;}
.page-1-1 .img_2 .zhuti .xlxn .xl{float:left; width:40%; text-align: right; }
.page-1-1 .img_2 .zhuti .xlxn .xn{float:right; width:40%; text-align: left;}
.page-1-1 .img_2 .zhuti .time{font-size: 12px; margin-top:13px; overflow:hidden;}
.page-1-1 .img_2 .zhuti .time .left{float:left; width:60%; text-align: right; line-height: 14px; color:#000;}
.page-1-1 .img_2 .zhuti .time .right{float:right; width:36%; text-align: left; line-height: 28px; color:#d3346a;}
.page-1-1 .img_2 .zhuti .djs{margin-top:17px;}
.page-1-1 .img_2 .zhuti .djs span{font-size: 18px;}

.page-1-1 .img_3 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:93%;
	margin-left:-12px;
}
.page-1-1 .img_4 {
	height:50%;
	width:120%;
	position:absolute;
	overflow:hidden;
	left:-10%;
	top:0%;
}
.page-1-1 .img_4 .firstImg{
	width:100%;
}
.page-1-1 .img_5 {
	height:auto;
	width:228px;
	position:absolute;
	left:50%;
	margin-left:-114px;
	bottom:0%;
}


/* .page-2-1 .wrap{background:url(../images/bg_buttom.png) -20px -30px no-repeat; background-size:88px auto;} */

.page-2-1 .img_1 {
	height:auto;width:126px;
	position:absolute;
	left:50%;
	top:15px;
	margin-left:-63px;
	z-index:2;
}
.page-2-1 .img_2 {
	height:auto;
	width:100%;
	position:absolute;
	left:0%;
	top:70px;
}
.page-2-1 .img_2 .text{width:80%; margin:0 auto; font-size: 12px; border:#ffcedf solid 1px; padding:12px; text-align:left; text-shadow: 0 1px 1px #3a3a3a; }
.page-2-1 .happyRight{position: absolute; right:-16px; top:-20px; width: 88px;}
.page-2-1 .img_3 {
	height:auto;
	width:260px;
	height:190px;
	position:absolute;
	left:50%;
	top:160px;
	margin-left:-130px;
	background:url(../images/page-1-2.png) center top no-repeat;
	background-size:100% auto;
}
.page-2-1 .img_3 .happy{position: absolute; left:0; top:0; width: 60px;}
.page-2-1 .img_3 .gongqing{width: 158px; margin:56px auto; font-size: 18px; color:#000; line-height:30px;}
.page-2-1 .img_3 .gongqing p span{ color:#d3346a; text-decoration: underline;}
.page-2-1 .img_4 {
	height:auto;
	width:315px;
	height:81px;
	position:absolute;
	left:50%;
	top:76%;
	margin-left:-157px;
	background:url(../images/jhdl.png) center bottom no-repeat;
	background-size:100% auto;
}
.page-2-1 .img_4 .bridegroom{float:left; width:40.1%; text-align:right; color: #e6e8fa; font-size: 24px;}
.page-2-1 .img_4 .bride{float:right; width:40.1%; text-align:left; color: #e6e8fa; font-size: 24px;}
.page-2-1 .img_5 {
	height:auto;
	width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-13px;
}
.page-2-1 .img_6 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
}
.page-2-1 .img_7 {
	height:auto;width:248px;
	position:absolute;
	left:50%;
	top:8%;
	margin-left:-110px;
}

.page-2-2 .img_6 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
}
.page-3-1 .img_1 {
	height:auto;
	width:100px;
	position:absolute;
	left:50%;
	top:2%;
	margin-left:-50px;
	z-index:2;
}
.page-3-1 .img_2 {
	height:auto;
	width:250px;
	position:absolute;
	left:50%;
	top:20%;
	color:#fff9b1;
	font-size:16px;
	margin-left:-125px;
}
.page-3-1 .img_3 {
	height:auto;
	width:110px;
	position:absolute;
	left:50%;
	top:28%;
	color:#fff9b1;
	font-size:16px;
	margin-left:-55px;
}
.page-3-1 .img_3 a{display: block;}
.page-3-1 .img_3 a img{width:100%;}
.page-3-1 .img_4 {
	height:auto;
	width:260px;
	position:absolute;
	left:50%;
	top:42%;
	margin-left:-130px;
}
.page-3-1 .img_4 .katong{width:144px; margin:0 auto;}
.page-3-1 .img_4 .info{position: absolute; width:100%; bottom:12px; overflow:hidden;}
.page-3-1 .img_4 .info a.telxl{display:block; height:30px; line-height:30px; float: left; background:#00a3d9; width:90px; border-radius:4px; color:#fff; text-align:center; font-size:12px;}
.page-3-1 .img_4 .info a.telxn{display:block; height:30px; line-height:30px; float:right; background:#ff7373; width:90px; border-radius:4px; color:#fff; text-align:center; font-size:12px;}

.page-3-1 .img_5 {
	height:auto;width:142px;
	position:absolute;
	left:50%;
	top:82%;
	margin-left:-71px;
}
.page-3-1 .img_6 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
}
.page-3-1 .img_7 {
	height:auto;width:248px;
	position:absolute;
	left:50%;
	top:43%;
	margin-left:-124px;
}

.page-4-1 .img_1 {
	height:auto;width:73px;
	position:absolute;
	left:50%;
	top:2%;
	margin-left:-36px;
	z-index:2;
}
.page-4-1 .img_2 {
	height:auto;
	width:90%;
	position:absolute;
	left:5%;
	top:0%;
	overflow:hidden;
}
.page-4-1 .img_2 figure{display:block; width:46%; height:106px; float: right; margin-bottom:4%; margin-right:0; border-radius:5px; overflow:hidden; }
.page-4-1 .img_2 figure a{display:block; font-size:0!important; width:100%; height:100%;}
.page-4-1 .img_2 figure:nth-child(2n+1){float:left;}
.page-4-1 .img_2 a.wephotos img{width:100%; border-radius:5px; }


.page-4-1 .img_3 {
	height:auto;width:200px;
	position:absolute;
	left:50%;
	top:94%;
	margin-left:-100px;
}
.page-4-1 .img_6 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
}

/*必要样式*/
.my-gallery {
  width: 100%;
  float: left;
}
.my-gallery img {
  width: 100%;
  height: auto;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}
.my-gallery figcaption {
  display: none;
}
.pswp__img{height:auto!important;}
